*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}

body {
  color: whitesmoke;
  background: rgb(26, 26, 26);
  list-style: none;
  padding: 30px;
}

/* Home Page */

.nav-bar {
  width: 100%;
}

.nav-link-list {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.nav-link {
  padding: 10px 0px;
}
