/* ---------------------- Global ---------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a, a:visited {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}

body {
  color: whitesmoke;
  background: rgb(26, 26, 26);
  padding: 2.5vw;
  font-family: 'Montserrat', sans-serif;
}

/* ---------------------- Home Page ---------------------------*/

/* ----- Navigation ----- */

.nav-bar {
  width: 100%;
}

.nav-link-list {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.nav-link {
  padding: 10px 0px;
}

/* ----- Banner ----- */

.banner {
  width: 100%;
}

.main-heading {
  font-size: 12.35vw;
  font-weight: 400;
  margin-left: -0.115em;
}

/* ----- Blog Posts ----- */

.blog-post-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:30px;
  width: 100%;
  margin-top: 16vw;
  align-items: flex-end;
}

.blog-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-post-heading {
  font-size: 3.5vw;
  font-weight: 200;
  text-align: left;
  margin-bottom: 3vw;
  line-height: 1;
}

.blog-post-image {
  width: 100%;
  height: 73vh;
  object-fit: cover;
  margin-bottom: 1vw;
}

.blog-post-date {
  font-size: 1.8vw;
  font-weight: 200;
  letter-spacing: 3;
}

/* ----- About ----- */

.about-container {
  margin-top: 7vw;
  text-align: center;
}

.about-heading {
  font-size: 4vw;
  font-weight: 300;
  text-transform: capitalize;
}

.about-description {
  margin-top:1.5vw;
  font-size: 1.5vw;
}

/* ----- Banner 2 ----- */

.banner-2 {
  margin-top: 10vw;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-image: url("../images/post-1/me.jpeg");
  
}

/* ----- All Blog Posts ----- */

.all-blog-posts-container {
  margin-top: 8vw;
  text-align: left;

}

.all-blog-posts-heading {
  font-size: 2vw;
  font-weight: 400;
  color: rgba(245, 245, 245, 0.802);
}

.all-blog-posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-top: 1.5vw;
}

.all-blog-posts-item {
  font-size: 1.8vw;
  font-weight: 200;
  letter-spacing: 2;
  margin: .3vw;
  white-space: nowrap;
  overflow: hidden;
}

.all-blog-posts-item-heading {
  text-align: right;
  
}

.all-blog-posts-item span {
  margin-right: .5vw;

}
