/* ---------------------- Global ---------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a, a:visited {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}

body {
  color: whitesmoke;
  background: rgb(26, 26, 26);
  padding: 2.5vw;
  font-family: 'Montserrat', sans-serif;
}

/* ---------------------- Home Page ---------------------------*/

/* ----- Navigation ----- */

.nav-bar {
  width: 100%;
}

.nav-link-list {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.nav-link {
  padding: 10px 0px;
}

/* ----- Banner ----- */

.banner {
  width: 100%;
}

.main-heading {
  font-size: 12.45vw;
  font-weight: 300;
  margin-left: -0.115em;
}

/* ----- Blog Posts ----- */

.blog-post-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:30px;
  width: 100%;
  margin-top: 19vw;
  align-items: flex-end;
}

.blog-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-post-heading {
  font-size: 3.5vw;
  font-weight: 200;
  text-align: center;
  margin-bottom: 3vw;
  line-height: .9;
}

.blog-post-image {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}